.product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-for-card-slider{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.product-image-details {
    width: 40%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-details img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.details {
    width: 50%;
}

.details .product-brand {
    text-transform: capitalize;
    font-size: 30px;
    margin-top: 0;
}

.details .product-short-des {
    font-size: 20px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price {
    font-weight: 700;
    font-size: 25px;
}

.product-actual-price {
    font-size: 20px;
    text-decoration: line-through;
    opacity: 0.8;
    color: #999;
    margin: 0 5px;
    font-weight: 300;
}

.btn {
    display: block;
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0;
    text-transform: capitalize;
}

.cart-btn {
    margin-right: 0;
    margin-top: 30px;
    background: #383838;
    color: #fff;
}

.detail-des {
    padding: 0 10vw;
    text-transform: capitalize;
}

.heading {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: capitalize;
}

.des {
    color: #383838;
    line-height: 25px;
    margin-bottom: 30px;
}